@*@page "/Win"*@
@inject WebApiService Api

<AuthorizeView>
    <Authorized>
        <h3>WinPrizeReport</h3>
        <h3 style="text-align:center;">Win Prize</h3>
        @*<div align-center style="max-width:650px;margin: auto;">
            @if (pdf is not null && pdf.Length > 0)
                if (isloading)
                {
                    <MudText Typo="Typo.h4">Loading</MudText>

                }
                else if (!initale)
                {
                    <MudText Typo="Typo.h4">No Results</MudText>

                }
                }
        </div>*@
    </Authorized>
</AuthorizeView>
@code {
    private byte[]? pdf = Array.Empty<byte>();
}
