@page "/Win"
@inject WebApiService Api
@inject IJSRuntime Js
<AuthorizeView>
    <Authorized>
        
        <div align-center style="max-width:725px;margin: auto;">
            <MudStack Row="true"><h3 style="margin-left:auto" class="my-auto">Win Prize</h3><MudButton Disabled="@(IsLoading || report is null || report?.File?.Length==0)" Class="me-auto" Color="Color.Success" OnClick="DownloadReport" Variant="Variant.Filled" StartIcon="@Icons.Custom.FileFormats.FilePdf">PDF Download</MudButton>
            </MudStack>
            <br />
            @if (report?.File?.Length > 0)
            {
                string pd = "data:application/pdf;base64," + Convert.ToBase64String(report?.File ?? Array.Empty<byte>());
                <div style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    @*<object style="min-height:700px;max-height:100%;width:100%;margin-top:25px;background:White;" data=@pd type="application/pdf">*@
                        <embed style="min-height:700px;max-height:100%;width:100%;margin-top:10px" src=@pd frameborder="0">
                    @*</object>*@
                </div>
            }
            else
            {
                if (IsLoading)
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">Loading</MudText>

                }
                else if (!Initale)
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">No Results</MudText>

                }
            }
        </div>
    </Authorized>
</AuthorizeView>
@code {
    bool IsLoading = false;
    bool Initale = true;
    FileReturnModel report = null;
    protected override async Task OnInitializedAsync()
    {
        Initale = false;
        IsLoading = true;
        try
        {
            report = await Api?.GetRoundWinReport();
            if (report?.File is null || report.File.Length == 0)
            {
                report = null;
            }
        }
        finally
        {
            IsLoading = false;
        }
    }
    private async Task DownloadReport(MouseEventArgs args)
    {
        IsLoading = true;
        try
        {
            if (report is not null)
            {
                await Js.SaveAs(report?.FileName ?? "", report?.File ?? Array.Empty<byte>());
            }
        }
        finally
        {
            IsLoading = false;
        }
    }
}
